@model MyPortfolioProjectNigth.Models.Social
@{
    ViewBag.Title = "SocialCreate";
    Layout = "~/Views/Admin/Index.cshtml";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Url)
        @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Icon)
        @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Icon, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
}